

html, body {
	border:0;
	margin:0;
	padding:0;
	background-color: #ffffff;
}

body {
font:80%/1 Garamond, sans-serif;
}

a:link {
	color: #0000C1;
	text-decoration: none
}

a:active {
    color: #0000C1;
	text-decoration: none
}

a:visited {
	color: #000050;
}

/*
a: inactive{
	color: #cccccc;
}*/

#outline {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 50%;
	margin: 0 auto;
	position:relative;

}


body {
  color: #000;

  font-family: "Garamond, Georgia, Times New Roman, Times, Courier, serif";

}


hr {
 border: 0;
    height: 1.2px;
    background: #ff0000;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(25%,#ffff00), color-stop(50%,#00ff00), color-stop(75%,#00ffff), color-stop(100%,#0000ff));
    background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
    background: -moz-linear-gradient(-45deg, #ff0000 0%, #ffff00 25%, #00ff00 50%, #00ffff 75%, #0000ff 100%);
    background: -o-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
    background: -ms-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
    background: linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
}

#header{
	height:120px;
	margin-top: 50px;
	font-family: Garamond, serif;
	color: #580000;
}


#header #name {
	font-size: 2.7em;
}

#header #rest{
	font-size: 1.2em;
	line-height: 120%;
}

#header #pic {
	float: left;
	margin-right: 20px;
	margin-top: 0px;
}

/*MENU*/

#menu{
    	width: 100%;
	margin: 0 auto;
    	/*width: 1000px;*/
    	/*height: 25pt;*/
}

#menu ul{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	font-family: Georgia;
	font-size:1.1em;
	list-style-type: none;
	line-height: 2em;
	padding: 0;
	margin: 0;
}

#menu li{
	display: block;
	list-style: none;
	flex: 1 1 0px;
	font-family: Georgia;
	font-size:1.1em;
	line-height: 2em;
}

#menu a {
    text-decoration: none;
    color: #580000;
    display: block;
    /*width: 165px;*/
    text-align: center;
    padding: 0px 5px;
}


#menu ul li a:hover {
    background-color: #580000;
    color: #F5ECC7;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

#current a {
	background-color: #580000;
    color:  #F5ECC7;
}


/*TEXT*/

#text {
	font-family: Garamond;
	font-size: 1.2em;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
    	/*align-items: center;*/
	/*width: 1000px;*/
	max-width: 100%;
	margin: 0px;
	/*padding: 0px; */
	align: center;
	text-align: justify;
	border: 3px double #580000;
	color: #580000;
	background-color: #FFEFD9;

	/*this way you dont have to add the margin-left on all of the fonts.*/
	padding: 16px;
	/* gap between sections*/
	gap:32px
}

/* You are not using this*/
/*
#text h1 {
	text-align:left;
	margin-left: 0.5em;
	font-size:2em;
	font-weight: bold;
	font-variant: small-caps;
}*/

#text h2 {
	text-align:left;
	/* this gets rid of the problem that you had*/
	margin: 0px;
	/* You don't need this anymore because we have the padding on text*/
	/*margin-left: 1em;*/
	font-size:1.2em;
	font-weight: bold;

	/*height: 15px;*/
}

/* You are not using this*/

#text h3 {
	text-align:left;
	margin: 0px;
	font-size:1em;
	font-weight: normal;
}

.section-container{
	display: flex;
	flex-direction: column;
	/* gap between header and text*/
	gap: 16px
}

.text-block{
	display: flex;
	flex-direction: column;
	/* gap between texts like paragraph and paragraph*/
	gap: 8px;
	/* This adds the padding immediately in, so you dont have to add that seperately on
	p, h2, ul, etc. */
	padding-left: 2em;
	padding-right: 2em
}

#text p {
    display: inline-block;
    line-height: 120%;
	/* text-block makes all the padding now */
    /*padding-left: 3em;
    padding-right: 3em;*/
    flex: auto;
	/* this gets rid of the problem that you had*/
	margin: 0px;
}

#text ul {
	display: inline-block;
	list-style-type:circle;
	line-height: 120%;
    /* text-block makes all the padding now */
    /*padding-left: 3em;
    padding-right: 3em;*/
	/* this gets rid of the problem that you had*/
	margin: 0px;
	/* without this, it adds some extra padding on the left for some reason*/
	padding-left: 3px;
}

#text li {
	/*display:block;*/
	/*height:1.2em;*/
	/* this gets rid of the problem that you had*/
	margin: 0px;
	padding: 3px;
}

#text li p {
	padding: 6px;
}

#text ul.a {
list-style-type:circle;
	line-height: 1em;
}

#text li.a {
	/*display:block;*/
	/*height:1.2em;*/
 padding: 5px;
}

#text ul.b {
	list-style-type:disc;
	line-height: 1.2em;
	margin-left: 1.5em;
}

#text li.b {
	/*display:block;*/
	/*height:1.2em;*/
	padding: 5px;
	margin: 5px;
}





/*FOOTER*/

#push{
height: 50px;
}

#footer {

    position: absolute;
    bottom: 0;
    height: 50px;
    min-width: 100%;
    font-family: Courier, serif;
    color: #580000;
    text-align: center;
}
